body{
    background-color:#5C7485;
}
form
{
    width: 400px;
    border: 1px black solid;
    padding: 70px;

    left: 50%;
    background-color: white;
    color: black;
    
}
h4{
    text-align: center;
}

.btn
{
    
    background: none;
    border: none;
    color: black;
    align-items: center;
    width: 254px;
}
.row
{
    text-align: center;
}