nav
{
    background-color: #fcba03;
}

.row
{
    margin-top: 10px;
}
#poster
{
    border: 1px solid black;
}
.card{
    width: 300px;
    margin-left: 10px;
    left: 10%;
    
    
}
 .rodape
{
background-color: black;
color: white;
max-height: 100%;

}
h5{
    font-weight: bold;
}
article
{
    
}
i .fa
{
   
    
   
}